<div class="auth-container">
  <div class="auth-card">
    <div>
      <h2 class="title orange">XÁC THỰC EMAIL</h2>

      <div class="form-group">
        <label>Mã OTP</label>
        <div class="input-group">
          <span class="input-icon"><i class="fa-solid fa-lock"></i></span>
          <input type="text" [(ngModel)]="otp" placeholder="123456" [class.error-border]="otp" />
        </div>
      </div>

      <button class="btn-submit" [disabled]="otp === ''" (click)="checkOtp()">Xác thực</button>
    </div>
    @if (error !== '') {
      <p class="error-msg">{{ error }}</p>
    }
    @if (success !== '') {
      <p class="success-msg">{{ success }}</p>
    }

    <div class="back-login">
      <a routerLink="/auth/sign-in">Quay lại đăng nhập</a>
    </div>
  </div>
</div>
