<div class="product-card">
  @if (productInfo.discount_percent !== 0) {
    <span class="sale-badge">SALE {{ productInfo.discount_percent }}%</span>
  }
  <div class="product-image">
    <img src="{{ productInfo.main_image }}" alt="{{ productInfo.product_name }}" />
    <div class="action-buttons">
      <button class="action-btn" title="Yêu thích">
        <i class="far fa-heart"></i>
      </button>
      <button class="action-btn view-btn" title="Xem nhanh" (click)="navigateProductDetail()">
        <i class="far fa-eye"></i>
      </button>
      <button class="action-btn" title="Thêm vào giỏ">
        <i class="fas fa-shopping-cart"></i>
      </button>
    </div>
  </div>
  <div class="product-info">
    <div class="d-flex flex-row justify-content-between align-items-center gap-2">
      @if (productInfo.product_name.length > 100) {
        <h3 class="product-title">{{ productInfo.product_name.slice(0, 100) }} ...</h3>
      } @else {
        <h3 class="product-title">{{ productInfo.product_name }}</h3>
      }
      <div class="product-rating">
        <span class="rating-stars">★</span>
        <span class="rating-number">{{ productInfo.rating }}</span>
      </div>
    </div>
    <p class="product-description">
      {{ productInfo.description }}
    </p>
    @if (productInfo.discount_percent !== 0) {
      <div class="product-price d-flex justify-content-start align-items-start gap-2">
        <span class="current-price">{{ count_price_discount() }}</span>
        <span class="original-price">{{ count_original_price() }}</span>
      </div>
    }
    @if (productInfo.discount_percent === 0) {
      <div class="product-price d-flex justify-content-start align-items-start gap-2">
        <span class="current-price">{{ count_original_price() }}</span>
      </div>
    }
    <div class="product-tags">
      @for (tag of productInfo.tags.slice(0, 3); track $index) {
        <button class="tag">#{{ tag }}</button>
      }
      <button class="tag highlight">Đã bán {{ productInfo.num_selled }}+</button>
    </div>
  </div>
</div>
