<div class="best-seller-section">
  <div class="container">
    <div class="header-label text-yellow">BỘ SƯU TẬP HOMEBASE</div>
    <div class="header-title section-title">
      <h1>Sản Phẩm <span class="highlight">Bán Chạy</span> Nhất</h1>
    </div>
    <div class="best-seller-action">
      <button class="btn-view-all shadow">Xem Tất Cả</button>
    </div>
  </div>
  <div class="category-nav">
    <div class="container">
      <nav class="nav-container">
        <div class="nav-item">
          <a href="#" class="nav-link active"><span>Tất cả</span></a>
        </div>
        <div class="nav-item">
          <a href="#" class="nav-link">Phòng khách</a>
        </div>
        <div class="nav-item">
          <a href="#" class="nav-link">Phòng ngủ</a>
        </div>
        <div class="nav-item">
          <a href="#" class="nav-link">Phòng ăn</a>
        </div>
        <div class="nav-item">
          <a href="#" class="nav-link">Ngoài trời</a>
        </div>
        <div class="nav-item">
          <a href="#" class="nav-link">Đồ trang trí</a>
        </div>
        <div class="nav-item">
          <a href="#" class="nav-link">Phụ kiện</a>
        </div>
      </nav>
    </div>
  </div>
  <div class="container">
    <div class="row g-4 mt-4 row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 flex flex-wrap">
      <div class="col">
        <app-card-product></app-card-product>
      </div>
      <div class="col">
        <app-card-product></app-card-product>
      </div>
      <div class="col">
        <app-card-product></app-card-product>
      </div>
      <div class="col">
        <app-card-product></app-card-product>
      </div>
      <div class="col">
        <app-card-product></app-card-product>
      </div>
      <div class="col">
        <app-card-product></app-card-product>
      </div>
      <div class="col">
        <app-card-product></app-card-product>
      </div>
      <div class="col">
        <app-card-product></app-card-product>
      </div>
    </div>
  </div>
</div>
