<div class="best-seller-section">
  <div class="container text-center mb-3 position-relative">
    <div>
      <div class="header-label text-yellow">BỘ SƯU TẬP HOMEBASE</div>
      <div class="header-title section-title">
        <h1>Sản Phẩm <span class="highlight">Bán Chạy</span> Nhất</h1>
      </div>
    </div>
    <div class="best-seller-action position-absolute end-0 top-50 translate-middle-y">
      <button class="btn-view-all shadow" (click)="onClick()">Xem Tất Cả</button>
    </div>
  </div>
  <div class="category-nav">
    <div class="container">
      <nav class="nav-container">
        <div class="nav-item">
          <button class="nav-link" [class.active]="room_type == ''" (click)="switchTabs('')">
            <span>Tất cả</span>
          </button>
        </div>
        <div class="nav-item">
          <button
            class="nav-link"
            [class.active]="room_type == 'living-room'"
            (click)="switchTabs('living-room')"
          >
            Phòng khách
          </button>
        </div>
        <div class="nav-item">
          <button
            class="nav-link"
            [class.active]="room_type == 'bedroom'"
            (click)="switchTabs('bedroom')"
          >
            Phòng ngủ
          </button>
        </div>
        <div class="nav-item">
          <button
            class="nav-link"
            [class.active]="room_type == 'dining-room'"
            (click)="switchTabs('dining-room')"
          >
            Phòng ăn
          </button>
        </div>
        <div class="nav-item">
          <button
            class="nav-link"
            [class.active]="room_type == 'outdoor'"
            (click)="switchTabs('outdoor')"
          >
            Ngoài trời
          </button>
        </div>
        <div class="nav-item">
          <button
            class="nav-link"
            [class.active]="room_type == 'bathroom'"
            (click)="switchTabs('bathroom')"
          >
            Phòng tắm
          </button>
        </div>
        <div class="nav-item">
          <button
            class="nav-link"
            [class.active]="room_type == 'accessories'"
            (click)="switchTabs('accessories')"
          >
            Phụ kiện
          </button>
        </div>
      </nav>
    </div>
  </div>
  <div class="container">
    <div class="row g-4 mt-4 row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 flex flex-wrap">
      @if (listBestSellerProducts.length > 0) {
        @for (product of listBestSellerProducts; track $index) {
          <div class="col">
            <app-card-product [productInfo]="product"></app-card-product>
          </div>
        }
      } @else {
        <div class="col text-center">Không có sản phẩm nào</div>
      }
    </div>
  </div>
</div>
